div#csv_data {
  overflow-y: scroll;
  padding:10px;
}
.panels {
  display:grid;
  grid-template-rows: 65vh auto 20vh ;
  border-bottom: 1px solid #ddd;
  grid-template-columns: 1fr;
}
#details {
  border: 1px solid grey;
  padding: 2px;
  margin: 4px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.7);
  position:absolute;
  top:1px;
  right:1px;
  background-color:rgba(255,255,255,0.9);
  color: black;
  font-weight: 300;
  z-index: 2000;
  border-radius: 3px;
}
#map {
  border:1px solid #888;
  cursor:crosshair;
}
table {
  border-collapse: collapse;
  border-color: #ddd;
}
table.csv_data {
  width: 100%;
}
table.csv_data caption {
  font-family: monospace;
  margin-top: 1px;
}
table.csv_data tr th {
  max-width: 5vh;
  overflow:hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-family: monospace;
  font-size: 90%;
  color: #5b7c99;
}
table.csv_data tr td {
  border: 1px solid #eee;
  color: #042e60;
  font-family: monospace;
}
div.header {
  position:relative;
}
div.current_time {
  position:absolute;
  top:0px;
  right:300px;
}
div.current_pos {
  position:absolute;
  top:0px;
  right:2px;
}
div.csv_files a {
  border:1px solid #99aa99;
  display:inline-block;
  margin-left:1px;
  margin-bottom:1px;
  padding-left:1px;
  padding-right:1px;
  whitespace:no-break;
  background-color:#ddffdd;
  text-decoration:none;
  color:black;
}
a {
  text-decoration:none;
  color:#004400;
}
div#tabs {
  margin-bottom: -1px;
}
div#tabs div {
  margin-top: 5px;
  display:inline-block;
  border-top:1px solid #000;
  border-left:1px solid #000;
  border-right:1px solid #000;
  padding-left:10px;
  padding-right:10px;
  margin-left: 2px;
  margin-right: 2px;
}
div#tabs div:hover {
  margin-top: 5px;
  display:inline-block;
  border-top:1px solid #000;
  border-left:1px solid #000;
  border-right:1px solid #000;
  padding-left:10px;
  padding-right:10px;
  margin-left: 2px;
  margin-right: 2px;
}
div.csv_cell {
}
div.csv_cell:hover {
}
td.csv_td { }
.right {
  float: right;
}
.left {
  float: left;
}
.info {
  padding: 2px;
  border: 1px solid #eee;
  margin: 5px;
}
a.download {
  padding: 5px;
  border: 1px solid #9a9;
  background-color: #dfd;
}
div.geo_cell {
}
div.geo_cell button {
  float:right;
  box-shadow: none;
  font-size: 50%;
}
div.error {
  background-color: #ffdddd;
  color: black;
  border:1px solid #ddaaaa;
  text-align: center;
}
div.controls {
  width: 100%;
  color: #6b8ba4;
  text-align: center;
}
input#timeline {
  width: 100%;
}
.slider {
   vertical-align: middle;
}
.autoplay {
  display: inline-block;
}
.sliderdiv {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 2px;
}
.update_button {
  padding: 5px;
  background-color: #d2bd0a;
  box-shadow: 2px 2px 2px #777;
  border-radius: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
}
.disabled_update_button {
  padding: 5px;
  background-color: #d2d2d2;
  border-radius: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #888888;
  color: #888888;
}.update_button:hover {
  background-color: #f0e50a;
}
#csv_tables {
  border-top: 1px solid black;
}
div.updating {
  padding-bottom: 2px;
}
pre.updating {
  background-color:black;
  color:white;
  padding: 5px;
  white-space: pre-wrap;
}
a.refresh_button {
  background-color: #aa23ff;
  border: 1px solid black;
  padding: 5px;
  color: white;
}
