div#csv_data {
  overflow-y: scroll;
  padding:10px;
}
.panels {
  display:grid;
  grid-template-rows: 65vh auto 20vh ;
  border-bottom: 1px solid #ddd;
  grid-template-columns: 1fr;
}
#details {
  border: 1px solid grey;
  padding: 2px;
  margin: 4px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.7);
  position:absolute;
  top:1px;
  right:1px;
  background-color:rgba(255,255,255,0.9);
  color: black;
  font-weight: 300;
  z-index: 2000;
  border-radius: 3px;
}
#map {
  border:1px solid #888;
  cursor:crosshair;
}
table {
  border-collapse: collapse;
  border-color: #ddd;
}
table.csv_data {
  width: 100%;
}
table.csv_data caption {
  font-family: monospace;
  margin-top: 1px;
}
table.csv_data tr th {
  max-width: 5vh;
  overflow:hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-family: monospace;
  font-size: 90%;
  color: #5b7c99;
}
table.csv_data tr td {
  border: 1px solid #eee;
  color: #042e60;
  font-family: monospace;
}
div.header {
  position:relative;
}
div.current_time {
  position:absolute;
  top:0px;
  right:300px;
}
div.current_pos {
  position:absolute;
  top:0px;
  right:2px;
}
div.csv_files a {
  border:1px solid #99aa99;
  display:inline-block;
  margin-left:1px;
  margin-bottom:1px;
  padding-left:1px;
  padding-right:1px;
  whitespace:no-break;
  background-color:#ddffdd;
  text-decoration:none;
  color:black;
}
a {
  text-decoration:none;
  color:#004400;
}
div#tabs {
  margin-bottom: -1px;
}
div#tabs div {
  margin-top: 5px;
  display:inline-block;
  border-top:1px solid #000;
  border-left:1px solid #000;
  border-right:1px solid #000;
  padding-left:10px;
  padding-right:10px;
  margin-left: 2px;
  margin-right: 2px;
}
div#tabs div:hover {
  margin-top: 5px;
  display:inline-block;
  border-top:1px solid #000;
  border-left:1px solid #000;
  border-right:1px solid #000;
  padding-left:10px;
  padding-right:10px;
  margin-left: 2px;
  margin-right: 2px;
}
div.csv_cell {
}
div.csv_cell:hover {
}
td.csv_td { }
.right {
  float: right;
}
.left {
  float: left;
}
.info {
  padding: 2px;
  border: 1px solid #eee;
  margin: 5px;
}
a.download {
  padding: 5px;
  border: 1px solid #9a9;
  background-color: #dfd;
}
div.geo_cell {
}
div.geo_cell button {
  float:right;
  box-shadow: none;
  font-size: 50%;
}
div.error {
  background-color: #ffdddd;
  color: black;
  border:1px solid #ddaaaa;
  text-align: center;
}
div.controls {
  width: 100%;
  color: #6b8ba4;
  text-align: center;
}
input#timeline {
  width: 100%;
}
.slider {
   vertical-align: middle;
}
.autoplay {
  display: inline-block;
}
.sliderdiv {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 2px;
}
.fullscreen_button {
  padding: 2px;
  background-color: #87ae73;
  box-shadow: 2px 2px 2px #777;
  border-radius: 0px;
  margin-right: 5px;
  border: 1px solid black;
}.fullscreen_button:hover {
  background-color: #a7ce93;
}

.source_label {
  font-family: monospace;
}

pre.source_text {
  background-color: black;
  color: white;
  padding: 3px;
  font-family: monospace;
  overflow: auto;
}
pre.source_text span {
  overflow: auto;
}
span.line_number {
  display: inline-block;
  width: 30px;
  background-color: black;
  padding-right: 5px;
  color: #ffff84;
  text-align: right;
}

.update_button {
  padding: 5px;
  background-color: #d2bd0a;
  box-shadow: 2px 2px 2px #777;
  border-radius: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
}
.disabled_update_button {
  padding: 5px;
  background-color: #d2d2d2;
  border-radius: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #888888;
  color: #888888;
}.update_button:hover {
  background-color: #f0e50a;
}
#csv_tables {
  border-top: 1px solid black;
}
div.updating {
  padding-bottom: 2px;
}
pre.updating {
  background-color:black;
  color:white;
  padding: 5px;
  white-space: pre;
}
a.refresh_button {
  background-color: #aa23ff;
  border: 1px solid black;
  padding: 5px;
  color: white;
}

.icon-style-plain {
  width: auto;
  height: auto;
}

div#row_info {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  border: 1px solid #ddd;
  padding: 10px;
  background-color:#8ACE00;
}

div#row_info:empty {
  display: none;
}

div#row_info_props {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 10px;
  font-family: monospace;
  font-size: 80%;
}

div#row_info_props:empty {
  display: none;
}


.zoom22 .icon-style-zoomable,
.zoom21 .icon-style-zoomable,
.zoom20 .icon-style-zoomable,
.zoom19 .icon-style-zoomable,
.zoom18 .icon-style-zoomable,
.zoom17 .icon-style-zoomable,
.zoom16 .icon-style-zoomable,
.zoom15 .icon-style-zoomable,
.zoom14 .icon-style-zoomable
 {
  font-size:10pt;
  border: 1px solid #888;
  padding: 3px;
  margin: 3px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.7);
  color: black;
  border-radius: 3px;
  width: auto;
  height: auto;
}

.source {
  background-color: #5a86ad;
  color: white;
  font-size: 80%;
  float: right;
  border: 1px solid #3a5f7f;
  padding: 2px;
  font-family: monospace;
}
.brat {
  background-color: #8ACE00;
  color: black;
  font-size: 80%;
  border: 1px solid #3a5f7f;
  padding: 2px;
  font-family: monospace;
}

.translucent-7 { opacity: 0.7; }
.translucent-4 { opacity: 0.7; }
.translucent-5 { opacity: 0.5; }
.see-through { background-color: rgba(255,255,255,0.8); }
.zoom13, .zoom12, .zoom11, .zoom10, .zoom9, .zoom8,
.zoom7, .zoom6, .zoom5, .zoom4, .zoom3, .zoom2, .zoom1 {
  & .see-through { background-color: rgba(255,255,255,0.0); }
}

.bordered { border: 1px solid black; padding: 2px; }

.wide { width: 50px; }

.zoom13 .icon-style-zooomable { font-size: 1em; }
.zoom12 .icon-style-zooomable { font-size: 0.5em; }
.zoom11 .icon-style-zooomable { font-size: 0.25em; }
.zoom10 .icon-style-zooomable { font-size: 0.125em; }
.zoom9 .icon-style-zooomable { font-size: 0.0625em; }
.zoom8 .icon-style-zooomable { font-size: 0.03125em; }
.zoom7 .icon-style-zooomable { font-size: 0.015625em; }
.zoom6 .icon-style-zooomable { font-size: 0.007813em; }
.zoom5 .icon-style-zooomable { font-size: 0.003906em; }
.zoom4 .icon-style-zooomable { font-size: 0.001953em; }
.zoom3 .icon-style-zooomable { font-size: 0.000977em; }
.zoom2 .icon-style-zooomable { font-size: 0.000488em; }
.zoom1 .icon-style-zooomable { font-size: 0.000244em; }

# https://xkcd.com/color/rgb/
.bgcolor-cloudy-blue { background-color: #acc2d9; }
.bgcolor-dark-pastel-green { background-color: #56ae57; }
.bgcolor-dust { background-color: #b2996e; }
.bgcolor-electric-lime { background-color: #a8ff04; }
.bgcolor-fresh-green { background-color: #69d84f; }
.bgcolor-light-eggplant { background-color: #894585; }
.bgcolor-nasty-green { background-color: #70b23f; }
.bgcolor-really-light-blue { background-color: #d4ffff; }
.bgcolor-tea { background-color: #65ab7c; }
.bgcolor-warm-purple { background-color: #952e8f; }
.bgcolor-yellowish-tan { background-color: #fcfc81; }
.bgcolor-cement { background-color: #a5a391; }
.bgcolor-dark-grass-green { background-color: #388004; }
.bgcolor-dusty-teal { background-color: #4c9085; }
.bgcolor-grey-teal { background-color: #5e9b8a; }
.bgcolor-macaroni-and-cheese { background-color: #efb435; }
.bgcolor-pinkish-tan { background-color: #d99b82; }
.bgcolor-spruce { background-color: #0a5f38; }
.bgcolor-strong-blue { background-color: #0c06f7; }
.bgcolor-toxic-green { background-color: #61de2a; }
.bgcolor-windows-blue { background-color: #3778bf; }
.bgcolor-blue-blue { background-color: #2242c7; }
.bgcolor-blue-with-a-hint-of-purple { background-color: #533cc6; }
.bgcolor-booger { background-color: #9bb53c; }
.bgcolor-bright-sea-green { background-color: #05ffa6; }
.bgcolor-dark-green-blue { background-color: #1f6357; }
.bgcolor-deep-turquoise { background-color: #017374; }
.bgcolor-green-teal { background-color: #0cb577; }
.bgcolor-strong-pink { background-color: #ff0789; }
.bgcolor-bland { background-color: #afa88b; }
.bgcolor-deep-aqua { background-color: #08787f; }
.bgcolor-lavender-pink { background-color: #dd85d7; }
.bgcolor-light-moss-green { background-color: #a6c875; }
.bgcolor-light-seafoam-green { background-color: #a7ffb5; }
.bgcolor-olive-yellow { background-color: #c2b709; }
.bgcolor-pig-pink { background-color: #e78ea5; }
.bgcolor-deep-lilac { background-color: #966ebd; }
.bgcolor-desert { background-color: #ccad60; }
.bgcolor-dusty-lavender { background-color: #ac86a8; }
.bgcolor-purpley-grey { background-color: #947e94; }
.bgcolor-purply { background-color: #983fb2; }
.bgcolor-candy-pink { background-color: #ff63e9; }
.bgcolor-light-pastel-green { background-color: #b2fba5; }
.bgcolor-boring-green { background-color: #63b365; }
.bgcolor-kiwi-green { background-color: #8ee53f; }
.bgcolor-light-grey-green { background-color: #b7e1a1; }
.bgcolor-orange-pink { background-color: #ff6f52; }
.bgcolor-tea-green { background-color: #bdf8a3; }
.bgcolor-very-light-brown { background-color: #d3b683; }
.bgcolor-egg-shell { background-color: #fffcc4; }
.bgcolor-eggplant-purple { background-color: #430541; }
.bgcolor-powder-pink { background-color: #ffb2d0; }
.bgcolor-reddish-grey { background-color: #997570; }
.bgcolor-baby-shit-brown { background-color: #ad900d; }
.bgcolor-liliac { background-color: #c48efd; }
.bgcolor-stormy-blue { background-color: #507b9c; }
.bgcolor-ugly-brown { background-color: #7d7103; }
.bgcolor-custard { background-color: #fffd78; }
.bgcolor-darkish-pink { background-color: #da467d; }
.bgcolor-deep-brown { background-color: #410200; }
.bgcolor-greenish-beige { background-color: #c9d179; }
.bgcolor-manilla { background-color: #fffa86; }
.bgcolor-off-blue { background-color: #5684ae; }
.bgcolor-battleship-grey { background-color: #6b7c85; }
.bgcolor-browny-green { background-color: #6f6c0a; }
.bgcolor-bruise { background-color: #7e4071; }
.bgcolor-kelley-green { background-color: #009337; }
.bgcolor-sickly-yellow { background-color: #d0e429; }
.bgcolor-sunny-yellow { background-color: #fff917; }
.bgcolor-azul { background-color: #1d5dec; }
.bgcolor-darkgreen { background-color: #054907; }
.bgcolor-green/yellow { background-color: #b5ce08; }
.bgcolor-lichen { background-color: #8fb67b; }
.bgcolor-light-light-green { background-color: #c8ffb0; }
.bgcolor-pale-gold { background-color: #fdde6c; }
.bgcolor-sun-yellow { background-color: #ffdf22; }
.bgcolor-tan-green { background-color: #a9be70; }
.bgcolor-burple { background-color: #6832e3; }
.bgcolor-butterscotch { background-color: #fdb147; }
.bgcolor-toupe { background-color: #c7ac7d; }
.bgcolor-dark-cream { background-color: #fff39a; }
.bgcolor-indian-red { background-color: #850e04; }
.bgcolor-light-lavendar { background-color: #efc0fe; }
.bgcolor-poison-green { background-color: #40fd14; }
.bgcolor-baby-puke-green { background-color: #b6c406; }
.bgcolor-bright-yellow-green { background-color: #9dff00; }
.bgcolor-charcoal-grey { background-color: #3c4142; }
.bgcolor-squash { background-color: #f2ab15; }
.bgcolor-cinnamon { background-color: #ac4f06; }
.bgcolor-light-pea-green { background-color: #c4fe82; }
.bgcolor-radioactive-green { background-color: #2cfa1f; }
.bgcolor-raw-sienna { background-color: #9a6200; }
.bgcolor-baby-purple { background-color: #ca9bf7; }
.bgcolor-cocoa { background-color: #875f42; }
.bgcolor-light-royal-blue { background-color: #3a2efe; }
.bgcolor-orangeish { background-color: #fd8d49; }
.bgcolor-rust-brown { background-color: #8b3103; }
.bgcolor-sand-brown { background-color: #cba560; }
.bgcolor-swamp { background-color: #698339; }
.bgcolor-tealish-green { background-color: #0cdc73; }
.bgcolor-burnt-siena { background-color: #b75203; }
.bgcolor-camo { background-color: #7f8f4e; }
.bgcolor-dusk-blue { background-color: #26538d; }
.bgcolor-fern { background-color: #63a950; }
.bgcolor-old-rose { background-color: #c87f89; }
.bgcolor-pale-light-green { background-color: #b1fc99; }
.bgcolor-peachy-pink { background-color: #ff9a8a; }
.bgcolor-rosy-pink { background-color: #f6688e; }
.bgcolor-light-bluish-green { background-color: #76fda8; }
.bgcolor-light-bright-green { background-color: #53fe5c; }
.bgcolor-light-neon-green { background-color: #4efd54; }
.bgcolor-light-seafoam { background-color: #a0febf; }
.bgcolor-tiffany-blue { background-color: #7bf2da; }
.bgcolor-washed-out-green { background-color: #bcf5a6; }
.bgcolor-browny-orange { background-color: #ca6b02; }
.bgcolor-nice-blue { background-color: #107ab0; }
.bgcolor-sapphire { background-color: #2138ab; }
.bgcolor-greyish-teal { background-color: #719f91; }
.bgcolor-orangey-yellow { background-color: #fdb915; }
.bgcolor-parchment { background-color: #fefcaf; }
.bgcolor-straw { background-color: #fcf679; }
.bgcolor-very-dark-brown { background-color: #1d0200; }
.bgcolor-terracota { background-color: #cb6843; }
.bgcolor-ugly-blue { background-color: #31668a; }
.bgcolor-clear-blue { background-color: #247afd; }
.bgcolor-creme { background-color: #ffffb6; }
.bgcolor-foam-green { background-color: #90fda9; }
.bgcolor-grey/green { background-color: #86a17d; }
.bgcolor-light-gold { background-color: #fddc5c; }
.bgcolor-seafoam-blue { background-color: #78d1b6; }
.bgcolor-topaz { background-color: #13bbaf; }
.bgcolor-violet-pink { background-color: #fb5ffc; }
.bgcolor-wintergreen { background-color: #20f986; }
.bgcolor-yellow-tan { background-color: #ffe36e; }
.bgcolor-dark-fuchsia { background-color: #9d0759; }
.bgcolor-indigo-blue { background-color: #3a18b1; }
.bgcolor-light-yellowish-green { background-color: #c2ff89; }
.bgcolor-pale-magenta { background-color: #d767ad; }
.bgcolor-rich-purple { background-color: #720058; }
.bgcolor-sunflower-yellow { background-color: #ffda03; }
.bgcolor-green/blue { background-color: #01c08d; }
.bgcolor-leather { background-color: #ac7434; }
.bgcolor-racing-green { background-color: #014600; }
.bgcolor-vivid-purple { background-color: #9900fa; }
.bgcolor-dark-royal-blue { background-color: #02066f; }
.bgcolor-hazel { background-color: #8e7618; }
.bgcolor-muted-pink { background-color: #d1768f; }
.bgcolor-booger-green { background-color: #96b403; }
.bgcolor-canary { background-color: #fdff63; }
.bgcolor-cool-grey { background-color: #95a3a6; }
.bgcolor-dark-taupe { background-color: #7f684e; }
.bgcolor-darkish-purple { background-color: #751973; }
.bgcolor-true-green { background-color: #089404; }
.bgcolor-coral-pink { background-color: #ff6163; }
.bgcolor-dark-sage { background-color: #598556; }
.bgcolor-dark-slate-blue { background-color: #214761; }
.bgcolor-flat-blue { background-color: #3c73a8; }
.bgcolor-mushroom { background-color: #ba9e88; }
.bgcolor-rich-blue { background-color: #021bf9; }
.bgcolor-dirty-purple { background-color: #734a65; }
.bgcolor-greenblue { background-color: #23c48b; }
.bgcolor-icky-green { background-color: #8fae22; }
.bgcolor-light-khaki { background-color: #e6f2a2; }
.bgcolor-warm-blue { background-color: #4b57db; }
.bgcolor-dark-hot-pink { background-color: #d90166; }
.bgcolor-deep-sea-blue { background-color: #015482; }
.bgcolor-carmine { background-color: #9d0216; }
.bgcolor-dark-yellow-green { background-color: #728f02; }
.bgcolor-pale-peach { background-color: #ffe5ad; }
.bgcolor-plum-purple { background-color: #4e0550; }
.bgcolor-golden-rod { background-color: #f9bc08; }
.bgcolor-neon-red { background-color: #ff073a; }
.bgcolor-old-pink { background-color: #c77986; }
.bgcolor-very-pale-blue { background-color: #d6fffe; }
.bgcolor-blood-orange { background-color: #fe4b03; }
.bgcolor-grapefruit { background-color: #fd5956; }
.bgcolor-sand-yellow { background-color: #fce166; }
.bgcolor-clay-brown { background-color: #b2713d; }
.bgcolor-dark-blue-grey { background-color: #1f3b4d; }
.bgcolor-flat-green { background-color: #699d4c; }
.bgcolor-light-green-blue { background-color: #56fca2; }
.bgcolor-warm-pink { background-color: #fb5581; }
.bgcolor-dodger-blue { background-color: #3e82fc; }
.bgcolor-gross-green { background-color: #a0bf16; }
.bgcolor-ice { background-color: #d6fffa; }
.bgcolor-metallic-blue { background-color: #4f738e; }
.bgcolor-pale-salmon { background-color: #ffb19a; }
.bgcolor-sap-green { background-color: #5c8b15; }
.bgcolor-algae { background-color: #54ac68; }
.bgcolor-bluey-grey { background-color: #89a0b0; }
.bgcolor-greeny-grey { background-color: #7ea07a; }
.bgcolor-highlighter-green { background-color: #1bfc06; }
.bgcolor-light-light-blue { background-color: #cafffb; }
.bgcolor-light-mint { background-color: #b6ffbb; }
.bgcolor-raw-umber { background-color: #a75e09; }
.bgcolor-vivid-blue { background-color: #152eff; }
.bgcolor-deep-lavender { background-color: #8d5eb7; }
.bgcolor-dull-teal { background-color: #5f9e8f; }
.bgcolor-light-greenish-blue { background-color: #63f7b4; }
.bgcolor-mud-green { background-color: #606602; }
.bgcolor-pinky { background-color: #fc86aa; }
.bgcolor-red-wine { background-color: #8c0034; }
.bgcolor-shit-green { background-color: #758000; }
.bgcolor-tan-brown { background-color: #ab7e4c; }
.bgcolor-darkblue { background-color: #030764; }
.bgcolor-rosa { background-color: #fe86a4; }
.bgcolor-lipstick { background-color: #d5174e; }
.bgcolor-pale-mauve { background-color: #fed0fc; }
.bgcolor-claret { background-color: #680018; }
.bgcolor-dandelion { background-color: #fedf08; }
.bgcolor-orangered { background-color: #fe420f; }
.bgcolor-poop-green { background-color: #6f7c00; }
.bgcolor-ruby { background-color: #ca0147; }
.bgcolor-dark { background-color: #1b2431; }
.bgcolor-greenish-turquoise { background-color: #00fbb0; }
.bgcolor-pastel-red { background-color: #db5856; }
.bgcolor-piss-yellow { background-color: #ddd618; }
.bgcolor-bright-cyan { background-color: #41fdfe; }
.bgcolor-dark-coral { background-color: #cf524e; }
.bgcolor-algae-green { background-color: #21c36f; }
.bgcolor-darkish-red { background-color: #a90308; }
.bgcolor-reddy-brown { background-color: #6e1005; }
.bgcolor-blush-pink { background-color: #fe828c; }
.bgcolor-camouflage-green { background-color: #4b6113; }
.bgcolor-lawn-green { background-color: #4da409; }
.bgcolor-putty { background-color: #beae8a; }
.bgcolor-vibrant-blue { background-color: #0339f8; }
.bgcolor-dark-sand { background-color: #a88f59; }
.bgcolor-purple/blue { background-color: #5d21d0; }
.bgcolor-saffron { background-color: #feb209; }
.bgcolor-twilight { background-color: #4e518b; }
.bgcolor-warm-brown { background-color: #964e02; }
.bgcolor-bluegrey { background-color: #85a3b2; }
.bgcolor-bubble-gum-pink { background-color: #ff69af; }
.bgcolor-duck-egg-blue { background-color: #c3fbf4; }
.bgcolor-greenish-cyan { background-color: #2afeb7; }
.bgcolor-petrol { background-color: #005f6a; }
.bgcolor-royal { background-color: #0c1793; }
.bgcolor-butter { background-color: #ffff81; }
.bgcolor-dusty-orange { background-color: #f0833a; }
.bgcolor-off-yellow { background-color: #f1f33f; }
.bgcolor-pale-olive-green { background-color: #b1d27b; }
.bgcolor-orangish { background-color: #fc824a; }
.bgcolor-leaf { background-color: #71aa34; }
.bgcolor-light-blue-grey { background-color: #b7c9e2; }
.bgcolor-dried-blood { background-color: #4b0101; }
.bgcolor-lightish-purple { background-color: #a552e6; }
.bgcolor-rusty-red { background-color: #af2f0d; }
.bgcolor-lavender-blue { background-color: #8b88f8; }
.bgcolor-light-grass-green { background-color: #9af764; }
.bgcolor-light-mint-green { background-color: #a6fbb2; }
.bgcolor-sunflower { background-color: #ffc512; }
.bgcolor-velvet { background-color: #750851; }
.bgcolor-brick-orange { background-color: #c14a09; }
.bgcolor-lightish-red { background-color: #fe2f4a; }
.bgcolor-pure-blue { background-color: #0203e2; }
.bgcolor-twilight-blue { background-color: #0a437a; }
.bgcolor-violet-red { background-color: #a50055; }
.bgcolor-yellowy-brown { background-color: #ae8b0c; }
.bgcolor-carnation { background-color: #fd798f; }
.bgcolor-muddy-yellow { background-color: #bfac05; }
.bgcolor-dark-seafoam-green { background-color: #3eaf76; }
.bgcolor-deep-rose { background-color: #c74767; }
.bgcolor-dusty-red { background-color: #b9484e; }
.bgcolor-grey/blue { background-color: #647d8e; }
.bgcolor-lemon-lime { background-color: #bffe28; }
.bgcolor-purple/pink { background-color: #d725de; }
.bgcolor-brown-yellow { background-color: #b29705; }
.bgcolor-purple-brown { background-color: #673a3f; }
.bgcolor-wisteria { background-color: #a87dc2; }
.bgcolor-banana-yellow { background-color: #fafe4b; }
.bgcolor-lipstick-red { background-color: #c0022f; }
.bgcolor-water-blue { background-color: #0e87cc; }
.bgcolor-brown-grey { background-color: #8d8468; }
.bgcolor-vibrant-purple { background-color: #ad03de; }
.bgcolor-baby-green { background-color: #8cff9e; }
.bgcolor-barf-green { background-color: #94ac02; }
.bgcolor-eggshell-blue { background-color: #c4fff7; }
.bgcolor-sandy-yellow { background-color: #fdee73; }
.bgcolor-cool-green { background-color: #33b864; }
.bgcolor-pale { background-color: #fff9d0; }
.bgcolor-blue/grey { background-color: #758da3; }
.bgcolor-hot-magenta { background-color: #f504c9; }
.bgcolor-greyblue { background-color: #77a1b5; }
.bgcolor-purpley { background-color: #8756e4; }
.bgcolor-baby-shit-green { background-color: #889717; }
.bgcolor-brownish-pink { background-color: #c27e79; }
.bgcolor-dark-aquamarine { background-color: #017371; }
.bgcolor-diarrhea { background-color: #9f8303; }
.bgcolor-light-mustard { background-color: #f7d560; }
.bgcolor-pale-sky-blue { background-color: #bdf6fe; }
.bgcolor-turtle-green { background-color: #75b84f; }
.bgcolor-bright-olive { background-color: #9cbb04; }
.bgcolor-dark-grey-blue { background-color: #29465b; }
.bgcolor-greeny-brown { background-color: #696006; }
.bgcolor-lemon-green { background-color: #adf802; }
.bgcolor-light-periwinkle { background-color: #c1c6fc; }
.bgcolor-seaweed-green { background-color: #35ad6b; }
.bgcolor-sunshine-yellow { background-color: #fffd37; }
.bgcolor-ugly-purple { background-color: #a442a0; }
.bgcolor-medium-pink { background-color: #f36196; }
.bgcolor-puke-brown { background-color: #947706; }
.bgcolor-very-light-pink { background-color: #fff4f2; }
.bgcolor-viridian { background-color: #1e9167; }
.bgcolor-bile { background-color: #b5c306; }
.bgcolor-faded-yellow { background-color: #feff7f; }
.bgcolor-very-pale-green { background-color: #cffdbc; }
.bgcolor-vibrant-green { background-color: #0add08; }
.bgcolor-bright-lime { background-color: #87fd05; }
.bgcolor-spearmint { background-color: #1ef876; }
.bgcolor-light-aquamarine { background-color: #7bfdc7; }
.bgcolor-light-sage { background-color: #bcecac; }
.bgcolor-yellowgreen { background-color: #bbf90f; }
.bgcolor-baby-poo { background-color: #ab9004; }
.bgcolor-dark-seafoam { background-color: #1fb57a; }
.bgcolor-deep-teal { background-color: #00555a; }
.bgcolor-heather { background-color: #a484ac; }
.bgcolor-rust-orange { background-color: #c45508; }
.bgcolor-dirty-blue { background-color: #3f829d; }
.bgcolor-fern-green { background-color: #548d44; }
.bgcolor-bright-lilac { background-color: #c95efb; }
.bgcolor-weird-green { background-color: #3ae57f; }
.bgcolor-peacock-blue { background-color: #016795; }
.bgcolor-avocado-green { background-color: #87a922; }
.bgcolor-faded-orange { background-color: #f0944d; }
.bgcolor-grape-purple { background-color: #5d1451; }
.bgcolor-hot-green { background-color: #25ff29; }
.bgcolor-lime-yellow { background-color: #d0fe1d; }
.bgcolor-mango { background-color: #ffa62b; }
.bgcolor-shamrock { background-color: #01b44c; }
.bgcolor-bubblegum { background-color: #ff6cb5; }
.bgcolor-purplish-brown { background-color: #6b4247; }
.bgcolor-vomit-yellow { background-color: #c7c10c; }
.bgcolor-pale-cyan { background-color: #b7fffa; }
.bgcolor-key-lime { background-color: #aeff6e; }
.bgcolor-tomato-red { background-color: #ec2d01; }
.bgcolor-lightgreen { background-color: #76ff7b; }
.bgcolor-merlot { background-color: #730039; }
.bgcolor-night-blue { background-color: #040348; }
.bgcolor-purpleish-pink { background-color: #df4ec8; }
.bgcolor-apple { background-color: #6ecb3c; }
.bgcolor-baby-poop-green { background-color: #8f9805; }
.bgcolor-green-apple { background-color: #5edc1f; }
.bgcolor-heliotrope { background-color: #d94ff5; }
.bgcolor-yellow/green { background-color: #c8fd3d; }
.bgcolor-almost-black { background-color: #070d0d; }
.bgcolor-cool-blue { background-color: #4984b8; }
.bgcolor-leafy-green { background-color: #51b73b; }
.bgcolor-mustard-brown { background-color: #ac7e04; }
.bgcolor-dusk { background-color: #4e5481; }
.bgcolor-dull-brown { background-color: #876e4b; }
.bgcolor-frog-green { background-color: #58bc08; }
.bgcolor-vivid-green { background-color: #2fef10; }
.bgcolor-bright-light-green { background-color: #2dfe54; }
.bgcolor-fluro-green { background-color: #0aff02; }
.bgcolor-kiwi { background-color: #9cef43; }
.bgcolor-seaweed { background-color: #18d17b; }
.bgcolor-navy-green { background-color: #35530a; }
.bgcolor-ultramarine-blue { background-color: #1805db; }
.bgcolor-iris { background-color: #6258c4; }
.bgcolor-pastel-orange { background-color: #ff964f; }
.bgcolor-yellowish-orange { background-color: #ffab0f; }
.bgcolor-perrywinkle { background-color: #8f8ce7; }
.bgcolor-tealish { background-color: #24bca8; }
.bgcolor-dark-plum { background-color: #3f012c; }
.bgcolor-pear { background-color: #cbf85f; }
.bgcolor-pinkish-orange { background-color: #ff724c; }
.bgcolor-midnight-purple { background-color: #280137; }
.bgcolor-light-urple { background-color: #b36ff6; }
.bgcolor-dark-mint { background-color: #48c072; }
.bgcolor-greenish-tan { background-color: #bccb7a; }
.bgcolor-light-burgundy { background-color: #a8415b; }
.bgcolor-turquoise-blue { background-color: #06b1c4; }
.bgcolor-ugly-pink { background-color: #cd7584; }
.bgcolor-sandy { background-color: #f1da7a; }
.bgcolor-electric-pink { background-color: #ff0490; }
.bgcolor-muted-purple { background-color: #805b87; }
.bgcolor-mid-green { background-color: #50a747; }
.bgcolor-greyish { background-color: #a8a495; }
.bgcolor-neon-yellow { background-color: #cfff04; }
.bgcolor-banana { background-color: #ffff7e; }
.bgcolor-carnation-pink { background-color: #ff7fa7; }
.bgcolor-tomato { background-color: #ef4026; }
.bgcolor-sea { background-color: #3c9992; }
.bgcolor-muddy-brown { background-color: #886806; }
.bgcolor-turquoise-green { background-color: #04f489; }
.bgcolor-buff { background-color: #fef69e; }
.bgcolor-fawn { background-color: #cfaf7b; }
.bgcolor-muted-blue { background-color: #3b719f; }
.bgcolor-pale-rose { background-color: #fdc1c5; }
.bgcolor-dark-mint-green { background-color: #20c073; }
.bgcolor-amethyst { background-color: #9b5fc0; }
.bgcolor-blue/green { background-color: #0f9b8e; }
.bgcolor-chestnut { background-color: #742802; }
.bgcolor-sick-green { background-color: #9db92c; }
.bgcolor-pea { background-color: #a4bf20; }
.bgcolor-rusty-orange { background-color: #cd5909; }
.bgcolor-stone { background-color: #ada587; }
.bgcolor-rose-red { background-color: #be013c; }
.bgcolor-pale-aqua { background-color: #b8ffeb; }
.bgcolor-deep-orange { background-color: #dc4d01; }
.bgcolor-earth { background-color: #a2653e; }
.bgcolor-mossy-green { background-color: #638b27; }
.bgcolor-grassy-green { background-color: #419c03; }
.bgcolor-pale-lime-green { background-color: #b1ff65; }
.bgcolor-light-grey-blue { background-color: #9dbcd4; }
.bgcolor-pale-grey { background-color: #fdfdfe; }
.bgcolor-asparagus { background-color: #77ab56; }
.bgcolor-blueberry { background-color: #464196; }
.bgcolor-purple-red { background-color: #990147; }
.bgcolor-pale-lime { background-color: #befd73; }
.bgcolor-greenish-teal { background-color: #32bf84; }
.bgcolor-caramel { background-color: #af6f09; }
.bgcolor-deep-magenta { background-color: #a0025c; }
.bgcolor-light-peach { background-color: #ffd8b1; }
.bgcolor-milk-chocolate { background-color: #7f4e1e; }
.bgcolor-ocher { background-color: #bf9b0c; }
.bgcolor-off-green { background-color: #6ba353; }
.bgcolor-purply-pink { background-color: #f075e6; }
.bgcolor-lightblue { background-color: #7bc8f6; }
.bgcolor-dusky-blue { background-color: #475f94; }
.bgcolor-golden { background-color: #f5bf03; }
.bgcolor-light-beige { background-color: #fffeb6; }
.bgcolor-butter-yellow { background-color: #fffd74; }
.bgcolor-dusky-purple { background-color: #895b7b; }
.bgcolor-french-blue { background-color: #436bad; }
.bgcolor-ugly-yellow { background-color: #d0c101; }
.bgcolor-greeny-yellow { background-color: #c6f808; }
.bgcolor-orangish-red { background-color: #f43605; }
.bgcolor-shamrock-green { background-color: #02c14d; }
.bgcolor-orangish-brown { background-color: #b25f03; }
.bgcolor-tree-green { background-color: #2a7e19; }
.bgcolor-deep-violet { background-color: #490648; }
.bgcolor-gunmetal { background-color: #536267; }
.bgcolor-blue/purple { background-color: #5a06ef; }
.bgcolor-cherry { background-color: #cf0234; }
.bgcolor-sandy-brown { background-color: #c4a661; }
.bgcolor-warm-grey { background-color: #978a84; }
.bgcolor-dark-indigo { background-color: #1f0954; }
.bgcolor-midnight { background-color: #03012d; }
.bgcolor-bluey-green { background-color: #2bb179; }
.bgcolor-grey-pink { background-color: #c3909b; }
.bgcolor-soft-purple { background-color: #a66fb5; }
.bgcolor-blood { background-color: #770001; }
.bgcolor-brown-red { background-color: #922b05; }
.bgcolor-medium-grey { background-color: #7d7f7c; }
.bgcolor-berry { background-color: #990f4b; }
.bgcolor-poo { background-color: #8f7303; }
.bgcolor-purpley-pink { background-color: #c83cb9; }
.bgcolor-light-salmon { background-color: #fea993; }
.bgcolor-snot { background-color: #acbb0d; }
.bgcolor-easter-purple { background-color: #c071fe; }
.bgcolor-light-yellow-green { background-color: #ccfd7f; }
.bgcolor-dark-navy-blue { background-color: #00022e; }
.bgcolor-drab { background-color: #828344; }
.bgcolor-light-rose { background-color: #ffc5cb; }
.bgcolor-rouge { background-color: #ab1239; }
.bgcolor-purplish-red { background-color: #b0054b; }
.bgcolor-slime-green { background-color: #99cc04; }
.bgcolor-baby-poop { background-color: #937c00; }
.bgcolor-irish-green { background-color: #019529; }
.bgcolor-pink/purple { background-color: #ef1de7; }
.bgcolor-dark-navy { background-color: #000435; }
.bgcolor-greeny-blue { background-color: #42b395; }
.bgcolor-light-plum { background-color: #9d5783; }
.bgcolor-pinkish-grey { background-color: #c8aca9; }
.bgcolor-dirty-orange { background-color: #c87606; }
.bgcolor-rust-red { background-color: #aa2704; }
.bgcolor-pale-lilac { background-color: #e4cbff; }
.bgcolor-orangey-red { background-color: #fa4224; }
.bgcolor-primary-blue { background-color: #0804f9; }
.bgcolor-kermit-green { background-color: #5cb200; }
.bgcolor-brownish-purple { background-color: #76424e; }
.bgcolor-murky-green { background-color: #6c7a0e; }
.bgcolor-wheat { background-color: #fbdd7e; }
.bgcolor-very-dark-purple { background-color: #2a0134; }
.bgcolor-bottle-green { background-color: #044a05; }
.bgcolor-watermelon { background-color: #fd4659; }
.bgcolor-deep-sky-blue { background-color: #0d75f8; }
.bgcolor-fire-engine-red { background-color: #fe0002; }
.bgcolor-yellow-ochre { background-color: #cb9d06; }
.bgcolor-pumpkin-orange { background-color: #fb7d07; }
.bgcolor-pale-olive { background-color: #b9cc81; }
.bgcolor-light-lilac { background-color: #edc8ff; }
.bgcolor-lightish-green { background-color: #61e160; }
.bgcolor-carolina-blue { background-color: #8ab8fe; }
.bgcolor-mulberry { background-color: #920a4e; }
.bgcolor-shocking-pink { background-color: #fe02a2; }
.bgcolor-auburn { background-color: #9a3001; }
.bgcolor-bright-lime-green { background-color: #65fe08; }
.bgcolor-celadon { background-color: #befdb7; }
.bgcolor-pinkish-brown { background-color: #b17261; }
.bgcolor-poo-brown { background-color: #885f01; }
.bgcolor-bright-sky-blue { background-color: #02ccfe; }
.bgcolor-celery { background-color: #c1fd95; }
.bgcolor-dirt-brown { background-color: #836539; }
.bgcolor-strawberry { background-color: #fb2943; }
.bgcolor-dark-lime { background-color: #84b701; }
.bgcolor-copper { background-color: #b66325; }
.bgcolor-medium-brown { background-color: #7f5112; }
.bgcolor-muted-green { background-color: #5fa052; }
.bgcolor-robin's-egg { background-color: #6dedfd; }
.bgcolor-bright-aqua { background-color: #0bf9ea; }
.bgcolor-bright-lavender { background-color: #c760ff; }
.bgcolor-ivory { background-color: #ffffcb; }
.bgcolor-very-light-purple { background-color: #f6cefc; }
.bgcolor-light-navy { background-color: #155084; }
.bgcolor-pink-red { background-color: #f5054f; }
.bgcolor-olive-brown { background-color: #645403; }
.bgcolor-poop-brown { background-color: #7a5901; }
.bgcolor-mustard-green { background-color: #a8b504; }
.bgcolor-ocean-green { background-color: #3d9973; }
.bgcolor-very-dark-blue { background-color: #000133; }
.bgcolor-dusty-green { background-color: #76a973; }
.bgcolor-light-navy-blue { background-color: #2e5a88; }
.bgcolor-minty-green { background-color: #0bf77d; }
.bgcolor-adobe { background-color: #bd6c48; }
.bgcolor-barney { background-color: #ac1db8; }
.bgcolor-jade-green { background-color: #2baf6a; }
.bgcolor-bright-light-blue { background-color: #26f7fd; }
.bgcolor-light-lime { background-color: #aefd6c; }
.bgcolor-dark-khaki { background-color: #9b8f55; }
.bgcolor-orange-yellow { background-color: #ffad01; }
.bgcolor-ocre { background-color: #c69c04; }
.bgcolor-maize { background-color: #f4d054; }
.bgcolor-faded-pink { background-color: #de9dac; }
.bgcolor-british-racing-green { background-color: #05480d; }
.bgcolor-sandstone { background-color: #c9ae74; }
.bgcolor-mud-brown { background-color: #60460f; }
.bgcolor-light-sea-green { background-color: #98f6b0; }
.bgcolor-robin-egg-blue { background-color: #8af1fe; }
.bgcolor-aqua-marine { background-color: #2ee8bb; }
.bgcolor-dark-sea-green { background-color: #11875d; }
.bgcolor-soft-pink { background-color: #fdb0c0; }
.bgcolor-orangey-brown { background-color: #b16002; }
.bgcolor-cherry-red { background-color: #f7022a; }
.bgcolor-burnt-yellow { background-color: #d5ab09; }
.bgcolor-brownish-grey { background-color: #86775f; }
.bgcolor-camel { background-color: #c69f59; }
.bgcolor-purplish-grey { background-color: #7a687f; }
.bgcolor-marine { background-color: #042e60; }
.bgcolor-greyish-pink { background-color: #c88d94; }
.bgcolor-pale-turquoise { background-color: #a5fbd5; }
.bgcolor-pastel-yellow { background-color: #fffe71; }
.bgcolor-bluey-purple { background-color: #6241c7; }
.bgcolor-canary-yellow { background-color: #fffe40; }
.bgcolor-faded-red { background-color: #d3494e; }
.bgcolor-sepia { background-color: #985e2b; }
.bgcolor-coffee { background-color: #a6814c; }
.bgcolor-bright-magenta { background-color: #ff08e8; }
.bgcolor-mocha { background-color: #9d7651; }
.bgcolor-ecru { background-color: #feffca; }
.bgcolor-purpleish { background-color: #98568d; }
.bgcolor-cranberry { background-color: #9e003a; }
.bgcolor-darkish-green { background-color: #287c37; }
.bgcolor-brown-orange { background-color: #b96902; }
.bgcolor-dusky-rose { background-color: #ba6873; }
.bgcolor-melon { background-color: #ff7855; }
.bgcolor-sickly-green { background-color: #94b21c; }
.bgcolor-silver { background-color: #c5c9c7; }
.bgcolor-purply-blue { background-color: #661aee; }
.bgcolor-purpleish-blue { background-color: #6140ef; }
.bgcolor-hospital-green { background-color: #9be5aa; }
.bgcolor-shit-brown { background-color: #7b5804; }
.bgcolor-mid-blue { background-color: #276ab3; }
.bgcolor-amber { background-color: #feb308; }
.bgcolor-easter-green { background-color: #8cfd7e; }
.bgcolor-soft-blue { background-color: #6488ea; }
.bgcolor-cerulean-blue { background-color: #056eee; }
.bgcolor-golden-brown { background-color: #b27a01; }
.bgcolor-bright-turquoise { background-color: #0ffef9; }
.bgcolor-red-pink { background-color: #fa2a55; }
.bgcolor-red-purple { background-color: #820747; }
.bgcolor-greyish-brown { background-color: #7a6a4f; }
.bgcolor-vermillion { background-color: #f4320c; }
.bgcolor-russet { background-color: #a13905; }
.bgcolor-steel-grey { background-color: #6f828a; }
.bgcolor-lighter-purple { background-color: #a55af4; }
.bgcolor-bright-violet { background-color: #ad0afd; }
.bgcolor-prussian-blue { background-color: #004577; }
.bgcolor-slate-green { background-color: #658d6d; }
.bgcolor-dirty-pink { background-color: #ca7b80; }
.bgcolor-dark-blue-green { background-color: #005249; }
.bgcolor-pine { background-color: #2b5d34; }
.bgcolor-yellowy-green { background-color: #bff128; }
.bgcolor-dark-gold { background-color: #b59410; }
.bgcolor-bluish { background-color: #2976bb; }
.bgcolor-darkish-blue { background-color: #014182; }
.bgcolor-dull-red { background-color: #bb3f3f; }
.bgcolor-pinky-red { background-color: #fc2647; }
.bgcolor-bronze { background-color: #a87900; }
.bgcolor-pale-teal { background-color: #82cbb2; }
.bgcolor-military-green { background-color: #667c3e; }
.bgcolor-barbie-pink { background-color: #fe46a5; }
.bgcolor-bubblegum-pink { background-color: #fe83cc; }
.bgcolor-pea-soup-green { background-color: #94a617; }
.bgcolor-dark-mustard { background-color: #a88905; }
.bgcolor-shit { background-color: #7f5f00; }
.bgcolor-medium-purple { background-color: #9e43a2; }
.bgcolor-very-dark-green { background-color: #062e03; }
.bgcolor-dirt { background-color: #8a6e45; }
.bgcolor-dusky-pink { background-color: #cc7a8b; }
.bgcolor-red-violet { background-color: #9e0168; }
.bgcolor-lemon-yellow { background-color: #fdff38; }
.bgcolor-pistachio { background-color: #c0fa8b; }
.bgcolor-dull-yellow { background-color: #eedc5b; }
.bgcolor-dark-lime-green { background-color: #7ebd01; }
.bgcolor-denim-blue { background-color: #3b5b92; }
.bgcolor-teal-blue { background-color: #01889f; }
.bgcolor-lightish-blue { background-color: #3d7afd; }
.bgcolor-purpley-blue { background-color: #5f34e7; }
.bgcolor-light-indigo { background-color: #6d5acf; }
.bgcolor-swamp-green { background-color: #748500; }
.bgcolor-brown-green { background-color: #706c11; }
.bgcolor-dark-maroon { background-color: #3c0008; }
.bgcolor-hot-purple { background-color: #cb00f5; }
.bgcolor-dark-forest-green { background-color: #002d04; }
.bgcolor-faded-blue { background-color: #658cbb; }
.bgcolor-drab-green { background-color: #749551; }
.bgcolor-light-lime-green { background-color: #b9ff66; }
.bgcolor-snot-green { background-color: #9dc100; }
.bgcolor-yellowish { background-color: #faee66; }
.bgcolor-light-blue-green { background-color: #7efbb3; }
.bgcolor-bordeaux { background-color: #7b002c; }
.bgcolor-light-mauve { background-color: #c292a1; }
.bgcolor-ocean { background-color: #017b92; }
.bgcolor-marigold { background-color: #fcc006; }
.bgcolor-muddy-green { background-color: #657432; }
.bgcolor-dull-orange { background-color: #d8863b; }
.bgcolor-steel { background-color: #738595; }
.bgcolor-electric-purple { background-color: #aa23ff; }
.bgcolor-fluorescent-green { background-color: #08ff08; }
.bgcolor-yellowish-brown { background-color: #9b7a01; }
.bgcolor-blush { background-color: #f29e8e; }
.bgcolor-soft-green { background-color: #6fc276; }
.bgcolor-bright-orange { background-color: #ff5b00; }
.bgcolor-lemon { background-color: #fdff52; }
.bgcolor-purple-grey { background-color: #866f85; }
.bgcolor-acid-green { background-color: #8ffe09; }
.bgcolor-pale-lavender { background-color: #eecffe; }
.bgcolor-violet-blue { background-color: #510ac9; }
.bgcolor-light-forest-green { background-color: #4f9153; }
.bgcolor-burnt-red { background-color: #9f2305; }
.bgcolor-khaki-green { background-color: #728639; }
.bgcolor-cerise { background-color: #de0c62; }
.bgcolor-faded-purple { background-color: #916e99; }
.bgcolor-apricot { background-color: #ffb16d; }
.bgcolor-dark-olive-green { background-color: #3c4d03; }
.bgcolor-grey-brown { background-color: #7f7053; }
.bgcolor-green-grey { background-color: #77926f; }
.bgcolor-true-blue { background-color: #010fcc; }
.bgcolor-pale-violet { background-color: #ceaefa; }
.bgcolor-periwinkle-blue { background-color: #8f99fb; }
.bgcolor-light-sky-blue { background-color: #c6fcff; }
.bgcolor-blurple { background-color: #5539cc; }
.bgcolor-green-brown { background-color: #544e03; }
.bgcolor-bluegreen { background-color: #017a79; }
.bgcolor-bright-teal { background-color: #01f9c6; }
.bgcolor-brownish-yellow { background-color: #c9b003; }
.bgcolor-pea-soup { background-color: #929901; }
.bgcolor-forest { background-color: #0b5509; }
.bgcolor-barney-purple { background-color: #a00498; }
.bgcolor-ultramarine { background-color: #2000b1; }
.bgcolor-purplish { background-color: #94568c; }
.bgcolor-puke-yellow { background-color: #c2be0e; }
.bgcolor-bluish-grey { background-color: #748b97; }
.bgcolor-dark-periwinkle { background-color: #665fd1; }
.bgcolor-dark-lilac { background-color: #9c6da5; }
.bgcolor-reddish { background-color: #c44240; }
.bgcolor-light-maroon { background-color: #a24857; }
.bgcolor-dusty-purple { background-color: #825f87; }
.bgcolor-terra-cotta { background-color: #c9643b; }
.bgcolor-avocado { background-color: #90b134; }
.bgcolor-marine-blue { background-color: #01386a; }
.bgcolor-teal-green { background-color: #25a36f; }
.bgcolor-slate-grey { background-color: #59656d; }
.bgcolor-lighter-green { background-color: #75fd63; }
.bgcolor-electric-green { background-color: #21fc0d; }
.bgcolor-dusty-blue { background-color: #5a86ad; }
.bgcolor-golden-yellow { background-color: #fec615; }
.bgcolor-bright-yellow { background-color: #fffd01; }
.bgcolor-light-lavender { background-color: #dfc5fe; }
.bgcolor-umber { background-color: #b26400; }
.bgcolor-poop { background-color: #7f5e00; }
.bgcolor-dark-peach { background-color: #de7e5d; }
.bgcolor-jungle-green { background-color: #048243; }
.bgcolor-eggshell { background-color: #ffffd4; }
.bgcolor-denim { background-color: #3b638c; }
.bgcolor-yellow-brown { background-color: #b79400; }
.bgcolor-dull-purple { background-color: #84597e; }
.bgcolor-chocolate-brown { background-color: #411900; }
.bgcolor-wine-red { background-color: #7b0323; }
.bgcolor-neon-blue { background-color: #04d9ff; }
.bgcolor-dirty-green { background-color: #667e2c; }
.bgcolor-light-tan { background-color: #fbeeac; }
.bgcolor-ice-blue { background-color: #d7fffe; }
.bgcolor-cadet-blue { background-color: #4e7496; }
.bgcolor-dark-mauve { background-color: #874c62; }
.bgcolor-very-light-blue { background-color: #d5ffff; }
.bgcolor-grey-purple { background-color: #826d8c; }
.bgcolor-pastel-pink { background-color: #ffbacd; }
.bgcolor-very-light-green { background-color: #d1ffbd; }
.bgcolor-dark-sky-blue { background-color: #448ee4; }
.bgcolor-evergreen { background-color: #05472a; }
.bgcolor-dull-pink { background-color: #d5869d; }
.bgcolor-aubergine { background-color: #3d0734; }
.bgcolor-mahogany { background-color: #4a0100; }
.bgcolor-reddish-orange { background-color: #f8481c; }
.bgcolor-deep-green { background-color: #02590f; }
.bgcolor-vomit-green { background-color: #89a203; }
.bgcolor-purple-pink { background-color: #e03fd8; }
.bgcolor-dusty-pink { background-color: #d58a94; }
.bgcolor-faded-green { background-color: #7bb274; }
.bgcolor-camo-green { background-color: #526525; }
.bgcolor-pinky-purple { background-color: #c94cbe; }
.bgcolor-pink-purple { background-color: #db4bda; }
.bgcolor-brownish-red { background-color: #9e3623; }
.bgcolor-dark-rose { background-color: #b5485d; }
.bgcolor-mud { background-color: #735c12; }
.bgcolor-brownish { background-color: #9c6d57; }
.bgcolor-emerald-green { background-color: #028f1e; }
.bgcolor-pale-brown { background-color: #b1916e; }
.bgcolor-dull-blue { background-color: #49759c; }
.bgcolor-burnt-umber { background-color: #a0450e; }
.bgcolor-medium-green { background-color: #39ad48; }
.bgcolor-clay { background-color: #b66a50; }
.bgcolor-light-aqua { background-color: #8cffdb; }
.bgcolor-light-olive-green { background-color: #a4be5c; }
.bgcolor-brownish-orange { background-color: #cb7723; }
.bgcolor-dark-aqua { background-color: #05696b; }
.bgcolor-purplish-pink { background-color: #ce5dae; }
.bgcolor-dark-salmon { background-color: #c85a53; }
.bgcolor-greenish-grey { background-color: #96ae8d; }
.bgcolor-jade { background-color: #1fa774; }
.bgcolor-ugly-green { background-color: #7a9703; }
.bgcolor-dark-beige { background-color: #ac9362; }
.bgcolor-emerald { background-color: #01a049; }
.bgcolor-pale-red { background-color: #d9544d; }
.bgcolor-light-magenta { background-color: #fa5ff7; }
.bgcolor-sky { background-color: #82cafc; }
.bgcolor-light-cyan { background-color: #acfffc; }
.bgcolor-yellow-orange { background-color: #fcb001; }
.bgcolor-reddish-purple { background-color: #910951; }
.bgcolor-reddish-pink { background-color: #fe2c54; }
.bgcolor-orchid { background-color: #c875c4; }
.bgcolor-dirty-yellow { background-color: #cdc50a; }
.bgcolor-orange-red { background-color: #fd411e; }
.bgcolor-deep-red { background-color: #9a0200; }
.bgcolor-orange-brown { background-color: #be6400; }
.bgcolor-cobalt-blue { background-color: #030aa7; }
.bgcolor-neon-pink { background-color: #fe019a; }
.bgcolor-rose-pink { background-color: #f7879a; }
.bgcolor-greyish-purple { background-color: #887191; }
.bgcolor-raspberry { background-color: #b00149; }
.bgcolor-aqua-green { background-color: #12e193; }
.bgcolor-salmon-pink { background-color: #fe7b7c; }
.bgcolor-tangerine { background-color: #ff9408; }
.bgcolor-brownish-green { background-color: #6a6e09; }
.bgcolor-red-brown { background-color: #8b2e16; }
.bgcolor-greenish-brown { background-color: #696112; }
.bgcolor-pumpkin { background-color: #e17701; }
.bgcolor-pine-green { background-color: #0a481e; }
.bgcolor-charcoal { background-color: #343837; }
.bgcolor-baby-pink { background-color: #ffb7ce; }
.bgcolor-cornflower { background-color: #6a79f7; }
.bgcolor-blue-violet { background-color: #5d06e9; }
.bgcolor-chocolate { background-color: #3d1c02; }
.bgcolor-greyish-green { background-color: #82a67d; }
.bgcolor-scarlet { background-color: #be0119; }
.bgcolor-green-yellow { background-color: #c9ff27; }
.bgcolor-dark-olive { background-color: #373e02; }
.bgcolor-sienna { background-color: #a9561e; }
.bgcolor-pastel-purple { background-color: #caa0ff; }
.bgcolor-terracotta { background-color: #ca6641; }
.bgcolor-aqua-blue { background-color: #02d8e9; }
.bgcolor-sage-green { background-color: #88b378; }
.bgcolor-blood-red { background-color: #980002; }
.bgcolor-deep-pink { background-color: #cb0162; }
.bgcolor-grass { background-color: #5cac2d; }
.bgcolor-moss { background-color: #769958; }
.bgcolor-pastel-blue { background-color: #a2bffe; }
.bgcolor-bluish-green { background-color: #10a674; }
.bgcolor-green-blue { background-color: #06b48b; }
.bgcolor-dark-tan { background-color: #af884a; }
.bgcolor-greenish-blue { background-color: #0b8b87; }
.bgcolor-pale-orange { background-color: #ffa756; }
.bgcolor-vomit { background-color: #a2a415; }
.bgcolor-forrest-green { background-color: #154406; }
.bgcolor-dark-lavender { background-color: #856798; }
.bgcolor-dark-violet { background-color: #34013f; }
.bgcolor-purple-blue { background-color: #632de9; }
.bgcolor-dark-cyan { background-color: #0a888a; }
.bgcolor-olive-drab { background-color: #6f7632; }
.bgcolor-pinkish { background-color: #d46a7e; }
.bgcolor-cobalt { background-color: #1e488f; }
.bgcolor-neon-purple { background-color: #bc13fe; }
.bgcolor-light-turquoise { background-color: #7ef4cc; }
.bgcolor-apple-green { background-color: #76cd26; }
.bgcolor-dull-green { background-color: #74a662; }
.bgcolor-wine { background-color: #80013f; }
.bgcolor-powder-blue { background-color: #b1d1fc; }
.bgcolor-off-white { background-color: #ffffe4; }
.bgcolor-electric-blue { background-color: #0652ff; }
.bgcolor-dark-turquoise { background-color: #045c5a; }
.bgcolor-blue-purple { background-color: #5729ce; }
.bgcolor-azure { background-color: #069af3; }
.bgcolor-bright-red { background-color: #ff000d; }
.bgcolor-pinkish-red { background-color: #f10c45; }
.bgcolor-cornflower-blue { background-color: #5170d7; }
.bgcolor-light-olive { background-color: #acbf69; }
.bgcolor-grape { background-color: #6c3461; }
.bgcolor-greyish-blue { background-color: #5e819d; }
.bgcolor-purplish-blue { background-color: #601ef9; }
.bgcolor-yellowish-green { background-color: #b0dd16; }
.bgcolor-greenish-yellow { background-color: #cdfd02; }
.bgcolor-medium-blue { background-color: #2c6fbb; }
.bgcolor-dusty-rose { background-color: #c0737a; }
.bgcolor-light-violet { background-color: #d6b4fc; }
.bgcolor-midnight-blue { background-color: #020035; }
.bgcolor-bluish-purple { background-color: #703be7; }
.bgcolor-red-orange { background-color: #fd3c06; }
.bgcolor-dark-magenta { background-color: #960056; }
.bgcolor-greenish { background-color: #40a368; }
.bgcolor-ocean-blue { background-color: #03719c; }
.bgcolor-coral { background-color: #fc5a50; }
.bgcolor-cream { background-color: #ffffc2; }
.bgcolor-reddish-brown { background-color: #7f2b0a; }
.bgcolor-burnt-sienna { background-color: #b04e0f; }
.bgcolor-brick { background-color: #a03623; }
.bgcolor-sage { background-color: #87ae73; }
.bgcolor-grey-green { background-color: #789b73; }
.bgcolor-white { background-color: #ffffff; }
.bgcolor-robins-egg-blue { background-color: #98eff9; }
.bgcolor-moss-green { background-color: #658b38; }
.bgcolor-steel-blue { background-color: #5a7d9a; }
.bgcolor-eggplant { background-color: #380835; }
.bgcolor-light-yellow { background-color: #fffe7a; }
.bgcolor-leaf-green { background-color: #5ca904; }
.bgcolor-light-grey { background-color: #d8dcd6; }
.bgcolor-puke { background-color: #a5a502; }
.bgcolor-pinkish-purple { background-color: #d648d7; }
.bgcolor-sea-blue { background-color: #047495; }
.bgcolor-pale-purple { background-color: #b790d4; }
.bgcolor-slate-blue { background-color: #5b7c99; }
.bgcolor-blue-grey { background-color: #607c8e; }
.bgcolor-hunter-green { background-color: #0b4008; }
.bgcolor-fuchsia { background-color: #ed0dd9; }
.bgcolor-crimson { background-color: #8c000f; }
.bgcolor-pale-yellow { background-color: #ffff84; }
.bgcolor-ochre { background-color: #bf9005; }
.bgcolor-mustard-yellow { background-color: #d2bd0a; }
.bgcolor-light-red { background-color: #ff474c; }
.bgcolor-cerulean { background-color: #0485d1; }
.bgcolor-pale-pink { background-color: #ffcfdc; }
.bgcolor-deep-blue { background-color: #040273; }
.bgcolor-rust { background-color: #a83c09; }
.bgcolor-light-teal { background-color: #90e4c1; }
.bgcolor-slate { background-color: #516572; }
.bgcolor-goldenrod { background-color: #fac205; }
.bgcolor-dark-yellow { background-color: #d5b60a; }
.bgcolor-dark-grey { background-color: #363737; }
.bgcolor-army-green { background-color: #4b5d16; }
.bgcolor-grey-blue { background-color: #6b8ba4; }
.bgcolor-seafoam { background-color: #80f9ad; }
.bgcolor-puce { background-color: #a57e52; }
.bgcolor-spring-green { background-color: #a9f971; }
.bgcolor-dark-orange { background-color: #c65102; }
.bgcolor-sand { background-color: #e2ca76; }
.bgcolor-pastel-green { background-color: #b0ff9d; }
.bgcolor-mint { background-color: #9ffeb0; }
.bgcolor-light-orange { background-color: #fdaa48; }
.bgcolor-bright-pink { background-color: #fe01b1; }
.bgcolor-chartreuse { background-color: #c1f80a; }
.bgcolor-deep-purple { background-color: #36013f; }
.bgcolor-dark-brown { background-color: #341c02; }
.bgcolor-taupe { background-color: #b9a281; }
.bgcolor-pea-green { background-color: #8eab12; }
.bgcolor-puke-green { background-color: #9aae07; }
.bgcolor-kelly-green { background-color: #02ab2e; }
.bgcolor-seafoam-green { background-color: #7af9ab; }
.bgcolor-blue-green { background-color: #137e6d; }
.bgcolor-khaki { background-color: #aaa662; }
.bgcolor-burgundy { background-color: #610023; }
.bgcolor-dark-teal { background-color: #014d4e; }
.bgcolor-brick-red { background-color: #8f1402; }
.bgcolor-royal-purple { background-color: #4b006e; }
.bgcolor-plum { background-color: #580f41; }
.bgcolor-mint-green { background-color: #8fff9f; }
.bgcolor-gold { background-color: #dbb40c; }
.bgcolor-baby-blue { background-color: #a2cffe; }
.bgcolor-yellow-green { background-color: #c0fb2d; }
.bgcolor-bright-purple { background-color: #be03fd; }
.bgcolor-dark-red { background-color: #840000; }
.bgcolor-pale-blue { background-color: #d0fefe; }
.bgcolor-grass-green { background-color: #3f9b0b; }
.bgcolor-navy { background-color: #01153e; }
.bgcolor-aquamarine { background-color: #04d8b2; }
.bgcolor-burnt-orange { background-color: #c04e01; }
.bgcolor-neon-green { background-color: #0cff0c; }
.bgcolor-bright-blue { background-color: #0165fc; }
.bgcolor-rose { background-color: #cf6275; }
.bgcolor-light-pink { background-color: #ffd1df; }
.bgcolor-mustard { background-color: #ceb301; }
.bgcolor-indigo { background-color: #380282; }
.bgcolor-lime { background-color: #aaff32; }
.bgcolor-sea-green { background-color: #53fca1; }
.bgcolor-periwinkle { background-color: #8e82fe; }
.bgcolor-dark-pink { background-color: #cb416b; }
.bgcolor-olive-green { background-color: #677a04; }
.bgcolor-peach { background-color: #ffb07c; }
.bgcolor-pale-green { background-color: #c7fdb5; }
.bgcolor-light-brown { background-color: #ad8150; }
.bgcolor-hot-pink { background-color: #ff028d; }
.bgcolor-black { background-color: #000000; }
.bgcolor-lilac { background-color: #cea2fd; }
.bgcolor-navy-blue { background-color: #001146; }
.bgcolor-royal-blue { background-color: #0504aa; }
.bgcolor-beige { background-color: #e6daa6; }
.bgcolor-salmon { background-color: #ff796c; }
.bgcolor-olive { background-color: #6e750e; }
.bgcolor-maroon { background-color: #650021; }
.bgcolor-bright-green { background-color: #01ff07; }
.bgcolor-dark-purple { background-color: #35063e; }
.bgcolor-mauve { background-color: #ae7181; }
.bgcolor-forest-green { background-color: #06470c; }
.bgcolor-aqua { background-color: #13eac9; }
.bgcolor-cyan { background-color: #00ffff; }
.bgcolor-tan { background-color: #d1b26f; }
.bgcolor-dark-blue { background-color: #00035b; }
.bgcolor-lavender { background-color: #c79fef; }
.bgcolor-turquoise { background-color: #06c2ac; }
.bgcolor-dark-green { background-color: #033500; }
.bgcolor-violet { background-color: #9a0eea; }
.bgcolor-light-purple { background-color: #bf77f6; }
.bgcolor-lime-green { background-color: #89fe05; }
.bgcolor-grey { background-color: #929591; }
.bgcolor-sky-blue { background-color: #75bbfd; }
.bgcolor-yellow { background-color: #ffff14; }
.bgcolor-magenta { background-color: #c20078; }
.bgcolor-light-green { background-color: #96f97b; }
.bgcolor-orange { background-color: #f97306; }
.bgcolor-teal { background-color: #029386; }
.bgcolor-light-blue { background-color: #95d0fc; }
.bgcolor-red { background-color: #e50000; }
.bgcolor-brown { background-color: #653700; }
.bgcolor-pink { background-color: #ff81c0; }
.bgcolor-blue { background-color: #0343df; }
.bgcolor-green { background-color: #15b01a; }
.bgcolor-purple { background-color: #7e1e9c; }

